#gal1{
    height: 270px;
    width: 350px;
    padding-left: 50px;
    margin-bottom: 40px;
}
 #gal2{
    height: 270px;
    width: 300px;
    margin-left: 100px;
    margin-bottom: 40px;
 }
 #gal3{
    height: 270px;
    width: 350px;
    margin-left: 150px;
    margin-bottom: 40px;
 }
 #gal4{
    height: 270px;
    width: 300px;
    margin-left: 50px;
    margin-bottom: 50px;
 }
 #gal5{
    height: 270px;
    width: 300px;
    margin-left: 100px;
    margin-bottom: 50px;
 }
 #gal6{
    height: 270px;
    width: 350px;
    margin-left: 150px;
    margin-bottom: 50px;
 }